{% extends "myapp/base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h5 class="display-5 text-primary">Django Rich Editor</h5>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block">Add post</button>
    </form>
    {% for post in posts %}
        <h2>{{post.title}}</h2>
        <p>{{post.content | safe}}</p>
    {% endfor %}
{% endblock %}